<style>

  @media (prefers-color-scheme: light) {
    :root {
      --bright-text-color: #222;
      --link-color: #3273dc;
      /* --link-color: #ff5e6c; */
      --link-visited-color: #6e4bbe;
      --background-color: #fff;
      --text-color: #444;
      --faded-text-color: #777;
      --blockquote-text-color: var(--bright-text-color);
      --faint-color: #ccc;
    }

    {{ partial "css/syntax-light.css" . | safeCSS }}
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bright-text-color: #eee;
      --link-color: #8cc2dd;
      --link-visited-color: #b9a9e0;
      --background-color: #333;
      --text-color: #ddd;
      --faded-text-color: #aaa;
      --slightly-dimmer-text-color: #ccc;
      --blockquote-text-color: var(--slightly-dimmer-text-color);
      --faint-color: #666;

      color-scheme: dark; /* sets scrollbar colour */
    }

    /*
    textarea, input {
      background-color: #252525;
      color: #ddd;
    }
    */

    img.diagram {
      filter: invert(.8);
    }

    {{ partial "css/syntax-dark.css" . | safeCSS }}
  }

  body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: var(--background-color);
    color: var(--text-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: var(--bright-text-color);
  }

  a {
    color: var(--link-color);
    text-decoration: none;
  }

  .title {
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    font-family: Fira Code, Inconsolata, monospace;
    /* this is font-specific and will have to play nice with the main font */
    font-size: 13px;
  }

  /* inline code */
  p code {
    /* to avoid having a background colour */
    border-radius: 4px;
    border: solid var(--faint-color) 1px;
    margin: 2px;
    padding: 3px;
  }

  /* code blocks */
  pre code {
    display: block;
    padding: 20px;
    white-space: pre-wrap;
  }

  pre {
    border-radius: 10px;
  }

  blockquote {
    border-left: 1px solid #999;
    color: var(--blockquote-text-color);
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: var(--faded-text-color);
    font-size: small;
  }

  .deemphasize {
    color: var(--faded-text-color);
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
    text-align: right;
    margin-right: 20px;
  }

  ul.blog-posts li a:visited {
    color: var(--link-visited-color);
  }
</style>
